<!-- wp:template-part {"slug":"header"} /-->

<!-- wp:group {"tagName":"div","className":"wg-body-container","layout":{"type":"default"}} -->
<div class="wp-block-group wg-body-container">
    
    <!-- wp:template-part {"slug":"sidebar-vertical"} /-->

    <!-- wp:group {"tagName":"main","className":"wg-main-column","layout":{"type":"default"}} -->
    <main class="wp-block-group wg-main-column">
        
                <!-- wp:group {"style":{"spacing":{"margin":{"bottom":"20px","top":"20px"}}},"layout":{"type":"default"}} -->
        <div class="wp-block-group" style="margin-top:20px;margin-bottom:20px">
            <!-- wp:shortcode -->
            [webgames_archive_ad]
            <!-- /wp:shortcode -->
        </div>
        <!-- /wp:group -->

                <!-- wp:group {"style":{"spacing":{"padding":{"right":"20px","left":"20px"}}},"layout":{"type":"default"}} -->
        <div class="wp-block-group" style="padding-right:20px;padding-left:20px">
            <!-- wp:shortcode -->
            [webgames_all_tags]
            <!-- /wp:shortcode -->
        </div>
        <!-- /wp:group -->
        

        <!-- wp:template-part {"slug":"footer"} /-->
        
    </main>
    <!-- /wp:group -->

</div>
<!-- /wp:group -->
