<!-- wp:template-part {"slug":"header"} /-->

<!-- wp:group {"tagName":"div","className":"wg-body-container","layout":{"type":"default"}} -->
<div class="wp-block-group wg-body-container">
    
    <!-- wp:template-part {"slug":"sidebar-vertical"} /-->

    <!-- wp:group {"tagName":"main","className":"wg-main-column","layout":{"type":"default"}} -->
    <main class="wp-block-group wg-main-column">
        
        <!-- wp:group {"style":{"spacing":{"padding":{"top":"20px","right":"20px","bottom":"20px","left":"20px"}}},"layout":{"type":"default"}} -->
        <div class="wp-block-group" style="padding-top:20px;padding-right:20px;padding-bottom:20px;padding-left:20px">
            
            <!-- wp:post-title {"level":1} /-->
            <!-- wp:post-content {"layout":{"type":"constrained"}} /-->
            
        </div>
        <!-- /wp:group -->
        
        <!-- wp:template-part {"slug":"footer"} /-->
        
    </main>
    <!-- /wp:group -->

</div>
<!-- /wp:group -->
