<!-- wp:template-part {"slug":"header"} /-->

<!-- wp:group {"tagName":"div","className":"wg-body-container","layout":{"type":"default"}} -->
<div class="wp-block-group wg-body-container">
    
    <!-- wp:template-part {"slug":"sidebar-vertical"} /-->

    <!-- wp:group {"tagName":"main","className":"wg-main-column","layout":{"type":"default"}} -->
    <main class="wp-block-group wg-main-column">
        


        <!-- wp:group {"style":{"spacing":{"padding":{"right":"20px","left":"20px"}}},"layout":{"type":"default"}} -->
        <div class="wp-block-group" style="padding-right:20px;padding-left:20px">
            
            <!-- wp:group {"className":"wg-content-section","layout":{"type":"constrained"}} -->
            <div class="wp-block-group wg-content-section">
                <!-- wp:shortcode -->
                [webgames_breadcrumbs]
                <!-- /wp:shortcode -->

                <!-- wp:post-title {"level":1,"style":{"spacing":{"margin":{"bottom":"20px","top":"0px"}}}} /-->
                
                <!-- wp:post-content {"layout":{"type":"constrained"}} /-->
                
                <!-- wp:html -->
                <hr class="wg-custom-separator" style="background-color:rgba(255, 255, 255, 0.08); margin-top:30px; margin-bottom:20px; border:none; height:1px;"/>
                <!-- /wp:html -->
                
                <!-- wp:shortcode -->
                [webgames_page_share]
                <!-- /wp:shortcode -->
            </div>
            <!-- /wp:group -->

        </div>
        <!-- /wp:group -->
        
        <!-- wp:template-part {"slug":"footer"} /-->
        
    </main>
    <!-- /wp:group -->

</div>
<!-- /wp:group -->
